@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?lt5eya');
  src:  url('../icons/icomoon.eot?lt5eya#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?lt5eya') format('truetype'),
    url('../icons/icomoon.woff?lt5eya') format('woff'),
    url('../icons/icomoon.svg?lt5eya#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog2:before {
  content: "\e907";
}
.icon-locked:before {
  content: "\e902";
}
.icon-play2:before {
  content: "\e923";
}
.icon-ruby:before {
  content: "\f047";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-facebook2:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android2:before {
  content: "\eac0";
}
.icon-times:before {
  content: "\e90b";
}
.icon-tick:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e90e";
}
.icon-chevron-left:before {
  content: "\e910";
}
.icon-th-menu:before {
  content: "\e926";
}
.icon-star2:before {
  content: "\e908";
}
.icon-heart3:before {
  content: "\e927";
}
.icon-flash:before {
  content: "\e928";
}
.icon-cog3:before {
  content: "\e911";
}
.icon-pin:before {
  content: "\e912";
}
.icon-social-pinterest:before {
  content: "\e909";
}
.icon-social-linkedin:before {
  content: "\e918";
}
.icon-chevron-right-outline:before {
  content: "\e92c";
}
.icon-chevron-left-outline:before {
  content: "\e92d";
}
.icon-th-small-outline:before {
  content: "\e92e";
}
.icon-th-menu-outline:before {
  content: "\e92f";
}
.icon-star-outline:before {
  content: "\e919";
}
.icon-media-pause-outline:before {
  content: "\e930";
}
.icon-heart-outline:before {
  content: "\e916";
}
.icon-flash-outline:before {
  content: "\e917";
}
.icon-location-arrow-outline:before {
  content: "\e931";
}
.icon-cog-outline:before {
  content: "\e932";
}
.icon-bookmark:before {
  content: "\e920";
}
.icon-stopwatch2:before {
  content: "\e921";
}
.icon-media-play-outline:before {
  content: "\e933";
}
.icon-contract:before {
  content: "\e111";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-minimize:before {
  content: "\e113";
}
.icon-plus2:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-done:before {
  content: "\e876";
}
.icon-format_quote:before {
  content: "\e244";
}
.icon-keyboard_arrow_down-o:before {
  content: "\a029";
}
.icon-keyboard_arrow_left-o:before {
  content: "\a030";
}
.icon-keyboard_arrow_right-o:before {
  content: "\a031";
}
.icon-keyboard_arrow_up-o:before {
  content: "\a032";
}
.icon-menu3:before {
  content: "\e5d2";
}
.icon-subject:before {
  content: "\e8d2";
}
.icon-arrow-right:before {
  content: "\e922";
}
.icon-stopwatch:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e903";
}
.icon-search2:before {
  content: "\e904";
}
.icon-alarmclock:before {
  content: "\e92a";
}
.icon-cancel3:before {
  content: "\e937";
}
.icon-locked2:before {
  content: "\e934";
}
.icon-heart4:before {
  content: "\e939";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-apple:before {
  content: "\f179";
}
.icon-android:before {
  content: "\f17b";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-server:before {
  content: "\f233";
}
.icon-chevron-thin-down2:before {
  content: "\e906";
}
.icon-chevron-thin-left:before {
  content: "\e91d";
}
.icon-chevron-thin-right:before {
  content: "\e91e";
}
.icon-chevron-thin-up:before {
  content: "\e91f";
}
.icon-dots-three-horizontal:before {
  content: "\e93e";
}
.icon-dots-three-vertical:before {
  content: "\e93f";
}
.icon-menu2:before {
  content: "\e940";
}
.icon-instagram2:before {
  content: "\e905";
}
.icon-pinterest:before {
  content: "\e935";
}
.icon-tumblr2:before {
  content: "\e936";
}
.icon-chevron-thin-down:before {
  content: "\e900";
}

